.navbar {
  display: flex;
  background-color: rgba(12, 11, 9, 0.6);
  color: white;
  padding: 0 60px;
  justify-content: space-between;
}

.nav-links {
  position: sticky;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  padding: 20px;
}

.nav-links li .link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.5s;
}

.nav-links li .link:hover {
  color: #d9ba85;
}

.logo-img {
  width: 100px;
}