.navbar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(12, 11, 9, 0.6);
  color: white;
  padding: 0 60px;
  justify-content: space-between;
}

.nav-links {
  background: transparent;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  padding: 20px;
}

.nav-links li .link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.5s;
}

.nav-links li .link:hover {
  color: #d9ba85;
}

.logo-img {
  width: 100px;
}

.menu-icon {
  display: block;
  float: right;
  cursor: pointer;
  border: none;
  font-size: 30px;
  margin: 10px;
}

.display-flex {
  display: flex;
}

.display-none {
  display: none;
}


@media screen and (max-width: 520px) {
  .navbar {
    padding: 0;
  }
}
