.navbar {
  position: relative;
  top: 0;
  display: flex;
  background-color: rgba(12, 11, 9, 0.6);
  color: white;
  padding: 0 60px;
  /* justify-content: space-between; */
}

.nav-links {
  background: transparent;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 0 auto;
  transition: 0.3s ease-in-out;
}

.nav-links li {
  padding: 20px;
}

.nav-links li .link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.5s;
}

.nav-links li .link:hover {
  color: #d9ba85;
}

.logo-img {
  width: 100px;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 520px) {
  .navbar {
    padding: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }

  .menu-icon:hover {
    color: #d9ba85;
  }

  .nav-links {
    flex-direction: column;
    margin: 0 auto 0 auto;
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    top: 60px;
    left: 0;
    background-color: rgba(12, 11, 9, 1);
    display: none;
  }

  .nav-links.responsive {
    display: block;
    z-index: 300;
  }

  .nav-links li .link {
    display: block;
    width: 100%;
    padding: 1rem 0;
  }
}

